{% verbatim %}
    <script id="boards-template" type="text/x-handlebars-template">
        {{#each boards}}
        <div class="board" data-id="{{id}}">
            {{#if editable}}
                <div class="editable">
                    <div class="borderable">
                        <span class="glyphicon glyphicon-remove" data-id="{{id}}"></span>
                    </div>
                    <div class="borderable">
                        <span class="glyphicon glyphicon-edit" data-id="{{id}}"></span>
                    </div>
                </div>
            {{/if}}
            <a href="/tacks/board/{{id}}/"><h3><b>{{name}}</b></h3></a>

                <div class="image-wrapper" style="width: 100px; height: 150px;">

                        <img src="{{cover.thumbnail.image}}" width="100" height="150"/>

                 </div>
                <div class="board-footer clearfix">{{description}}</div>
        </div>
        {{/each}}
    </script>
{% endverbatim %}
