{% verbatim %}
    <script id="boards-template" type="text/x-handlebars-template">
        {{#each boards}}
        <div class="board" data-id="{{id}}">
            {{#if editable}}
                <div class="editable">
                    <div class="borderable">
                        <span class="glyphicon glyphicon-remove" data-id="{{id}}"></span>
                    </div>
                    <div class="borderable">
                        <span class="glyphicon glyphicon-edit" data-id="{{id}}"></span>
                    </div>
                </div>
            {{/if}}
            <a href="/tacks/board/{{id}}/" style="text-align: center;"><h3><b>{{name}}</b></h3></a>
                <div class="image-wrapper" style="height: 150px; background-image: url({{cover.thumbnail.image}}) ">
                </div>
                <p>{{description}}</p>
                <div class="tack-footer clearfix">
                    <div class="text pull-left">
                    <span class="dim">Created by</span>
                    <a href="/boards/user/{{owner.username}}/">{{owner.username}}</a>
                    <br/>
                    <span class="dim">Category - <a href="/boards/category/{{category}}/">{{category}}</a></span>
                    </div>
                </div>
            </div>
        {{/each}}
    </script>
{% endverbatim %}
