{% verbatim %}
    <script id="boards-template" type="text/x-handlebars-template">
        {{#each boards}}
        <div class="board" data-id="{{id}}">
            {{#if editable}}
                <div class="editable">
                    <div class="borderable">
                        <span class="glyphicon glyphicon-remove" data-id="{{id}}"></span>
                    </div>
                    <div class="borderable">
                        <span class="glyphicon glyphicon-edit" data-id="{{id}}"></span>
                    </div>
                </div>
            {{/if}}
            <a href="/tacks/board/{{id}}/"><h4><b>{{name}}</b></h4></a>

                <div class="image-wrapper" style="width: {{image.thumbnail.width}}px; height: {{image.thumbnail.height}}px;">
                    <img src="{{image.thumbnail.image}}" width="{{image.thumbnail.width}}" height="{{image.thumbnail.height}}"/>
                </div>

                <p>{{description}}</p>
            <div class="board-footer clearfix">
        
            </div>
        </div>
        {{/each}}
    </script>
{% endverbatim %}
